<div class="row">
  <div class="col-md-6">
    <h3>Part 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>18:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/index">Summary and Setup</a></td> </tr>
      <tr> <td>18:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro">Introduction to R and RStudio</a></td> </tr>
      <tr> <td>19:20</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/02-project-intro">Project Management with RStudio</a></td> </tr>
      <tr> <td>19:50</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/03-seeking-help">Seeking Help</a></td> </tr>
      <tr> <td>20:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Part 2</h3>
    <table class="table table-striped">
      <tr> <td>18:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1">Data Structures</a></td> </tr>
      <tr> <td>18:40</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2">Exploring Data Frames</a></td> </tr>
      <tr> <td>19:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/06-data-subsetting">Subsetting Data</a></td> </tr>
      <tr> <td>19:45</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2">Creating Publication-Quality Graphics with ggplot2</a></td> </tr>
      <tr> <td>20:00</td>  <td>END</td> </tr>
      <tr> <td></td>  <td></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Part 3</h3>
    <table class="table table-striped">
      <tr> <td>18:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/09-vectorization">Vectorization</a></td> </tr>
      <tr> <td>18:25</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/07-control-flow">Control Flow</a></td> </tr>
      <tr> <td>19:20</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/10-functions">Functions Explained</a></td> </tr>
      <tr> <td>20:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Part 4</h3>
    <table class="table table-striped">
      <tr> <td>18:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/11-writing-data">Writing Data</a></td> </tr>
      <tr> <td>18:10</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/13-dplyr">Data Frame Manipulation with dplyr</a></td> </tr>
      <tr> <td>19:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/14-tidyr">Data Frame Manipulation with tidyr</a></td> </tr>
      <tr> <td>19:40</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2">Creating Publication-Quality Graphics with ggplot2</a></td> </tr>
      <tr> <td>19:55</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>20:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Extra episodes</h3>
    <table class="table table-striped">
      <tr> <td>00:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown">Producing Reports with knitr</a></td> </tr>
      <tr> <td>01:20</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/16-wrap-up">Writing Good Software</a></td> </tr>
      <tr> <td>01:35</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
